@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Economica:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Aboreto", cursive;
  font-family: "Economica", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s ease;
}
body {
  background-color: gray;
}

.container {
  max-width: 1300px;
  padding: 10px 0px;
  margin: 0px auto;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.content h1 {
  font-size: 90px;
  padding-bottom: 20px;
}
@media (max-width: 700px) {
  .content h1 {
    display: none;
  }
}

.tl__body {
  width: 250px;
  height: 730px;
  background-color: rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 220px;
  padding: 30px;
  margin: 30px 30px;
}

.cyrcle {
  width: 200px;
  height: 200px;
  border-radius: 250px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.334);
}
.cyrcle::after {
  /* background-color: #fff; */
  border-right: 20px solid rgba(255, 255, 255, 0.307);
  border-radius: 100%;
  top: 15px;
  right: 10px;
  position: absolute;
  content: " ";
  width: 170px;
  height: 170px;
}
.counter {
  font-size: 140px;
  color: white;
  position: absolute;
  top: 15px;
  left: 50px;
}
.red-counter {
  color: white;
}
.green-counter {
  color: white;
}
.yellow-counter {
  color: black;
}
/* .green {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: rgba(0, 0, 0, 0.334);
  margin-bottom: 50px;
}

.yellow {
  width: 250px;
  height: 250px;
  border-radius: 250px;

  background-color: rgba(0, 0, 0, 0.334);
}
.red {
  width: 250px;
  height: 250px;
  border-radius: 250px;

  background-color: rgba(0, 0, 0, 0.334);
  margin-top: 50px;
} */
