/* @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-size: 47px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

/* a {
  text-decoration: none;
  color: #fff;
} */

body {
  background: #1c1c1c;
}

.container {
  height: 97vh;
  width: 97vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: 650px;
  width: 400px;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 0 20px #000;
}

.theme-toggler {
  font-size: 10px;
  position: inherit;
  /* top: 30px; */
  /* right: 30px; */
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-style: normal;
}

.theme-toggler.active {
  color: #ff0000;
  font-style: normal;
}

.theme-toggler.active::before {
  background-color: #fff;
  font-size: 10px;
  font-style: normal;
}

.theme-toggler::before {
  /* content: ""; */

  font-style: normal;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 50px;
  margin-bottom: 20px;
  overflow-x: scroll;
  /* background: rgba(0, 0, 0, 0.286); */
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 75px;
  width: 75px;
  border: 0;
  border-radius: 50px;
  margin: 5px;
  font-size: 33px;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.094);
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 170px;
}

/* light theme */

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button#clear {
  /* background-color: #fff; */
  color: #ff5e00;
}

.calculator button.btn-number {
  background-color: #fff;
  color: #000000;
}

.calculator button.btn-operator {
  background-color: #fff;
  color: #ff5e00;
}

.calculator button.btn-equal {
  background-color: #fff;
  color: #ff5e00;
}

/* dark theme */

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #071115;
  color: #ff5e00;
}

.calculator.dark button.btn-number {
  background-color: #071115;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #071115;
  color: #ff5e00;
}

.calculator.dark button.btn-equal {
  background-color: #071115;
  color: #ff5e00;
}

/* footer */
footer {
  color: #ff5e00;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-size: 38px;
}
